@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-screen-xl w-10/12 md:w-11/12;
  }
  .link {
    @apply text-white text-sm md:text-base lg:ml-8 flex items-center mb-2 lg:mb-0;
  }
}

@layer utilities {
  .responsive-list-manga {
    @apply grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 md:gap-6 gap-3;
  }
}

.paginate {
  @apply flex items-center justify-center h-7 w-7 m-1 rounded cursor-pointer;
}
