@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@layer components {
  .container {
    @apply mx-auto max-w-screen-xl w-11/12;
  }
  .link {
    @apply text-white text-base ml-8 flex items-center;
  }
}

.paginate {
  @apply flex items-center justify-center h-7 w-7 m-1 rounded cursor-pointer;
}
